<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Ticket DEMO app"/>
    <meta name="author" content="Sebastian Gil"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Spring Boot + Bootstrap + React + Webpack + SockJS</title>
</head>
<body>

<div class="container theme-showcase">
    <div id="header" class="jumbotron">
        <h2>Spring Boot + Bootstrap + React + Webpack + SockJS</h2>
        <p>This is a ticket application DEMO. Every 30 sec. a new random ticket is being opened.</p>
    </div>
    <div id="react">
    </div>
</div>

<script type="text/javascript" src="webpack/bundle.js"></script>
<script type="text/javascript" src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</body>
</html>