<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Spring Boot + Bootstrap + React + Webpack + SockJS</title>
</head>
<body>

<div class="container">
    <div id="header" class="jumbotron">
        <h2>Spring Boot + Bootstrap + React + Webpack + SockJS</h2>
    </div>
    <div id="react" class="container">
    </div>
</div>

<script type="text/javascript" src="webpack/bundle.js"></script>
<script type="text/javascript" src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</body>
</html>